:root {
    --footer-height: 140px;
}

body {
    font-family: sans-serif;
}

#root {
    min-width: 100vw;
    min-height: 100vh;
}

#top {
    position: fixed;
    bottom: 0;
    width: 100%;
}

#bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: var(--footer-height);
    background-color: #f0f0f0;
}

#chat-frame {
    min-width: 100%;
    height: calc(100vh - var(--footer-height));
    margin: 0;
    overflow-y: scroll;
    padding: 10px;
}

#message-input {
    flex-grow: 1;
    margin-right: 10px;
    padding: 5px;
}

#mic-button, #ai-button {
    border-radius: 50%;
    margin : 10px;
    width: 80px;
    height: 80px;
}
#settings-button {
    position: fixed;
    top: 20px;
    right: 20px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 10px;
}

.input-group {
	justify-content: center;
}

.sender {
    font-weight: bold;
    margin-right: 5px;
}

.message-container {
    margin: 2px;
    padding: 2px;
    border-radius: 5px;
    background-color: #eee;
}
.message-ai {
    background-color: #acf;
}
.message-error {
    background-color: #f99;
}

.button-icon {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.slider-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-minmax-label {
    width: 20px;
    margin: 0 10px;
}

.settings-slider-label {
    width: 50%;
}

.settings-slider-value-label {
    width: 50%;
    text-align: right;
    font-weight: bold;
}