:root {
    --footer-height: 170px;
}

body {
    font-family: sans-serif;
}

#root {
    min-width: 100vw;
    min-height: 100vh;
}

#top {
    position: fixed;
    bottom: 0;
    width: 100%;
}

#bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: var(--footer-height);
    background-color: #f0f0f0;
}

#chat-frame {
    min-width: 100%;
    height: calc(100vh - var(--footer-height));
    margin: 0;
    overflow-y: scroll;
    padding: 10px;
}

#message-input {
    flex-grow: 1;
    margin-right: 10px;
    padding: 5px;
}

.input-group {
	justify-content: center;
}
.sender {
    font-weight: bold;
    margin-right: 5px;
}

.message-container {
    margin: 2px;
    padding: 2px;
    border-radius: 5px;
    background-color: #f0f0f0;
}

.button-icon {
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#mic-button, #ai-button {
    border-radius: 50%;
    margin : 10px;
    width: 100px;
    height: 100px;
}

#settings-button {
    position: fixed;
    top: 10px;
    right: 10px;
    border-radius: 50%;
    margin : 10px;
    width: 70px;
    height: 70px;
}
